name: Deploy Backend to AWS (SAM)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# GitHub'un OIDC token alabilmesi için gerekli izin (AWS kimlik doğrulaması için)
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Configure AWS Credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          
          role-to-assume: arn:aws:iam::298882023743:role/GitHubActionsBackendDeployRole
          
          aws-region: eu-north-1

      - name: Setup AWS SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: SAM Build
        run: sam build

      - name: SAM Deploy
        run: >
          sam deploy 
          --stack-name skolyn-api-backend
          --resolve-s3
          --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND
          --no-confirm-changeset
          --fail-on-empty-changeset
